{% extends 'base.html' %}
{% block title %}Список пользователей{% endblock %}
{% block body %}
<div class=container>
  <br>



  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Поиск
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form action="" method='get'>
          <input type="text" class='form-control' name='username' placeholder="Поиск по никнейму" name='nickname'>
          <br>
          <div class="input-group mb-3">
            <select class='form-control' name="category" id="category_id">
                <option value="">Выберите категорию:</option>
                <option value="helper">Психологи</option>
                <option value="non_helper">Нужна помощь</option>
            </select>

            <select class='form-control' name="verification" id="verefication_id">
              <option value=''>Верификация:</option>
              <option value="verif">Верифицированные</option>
              <option value="non_verif">Не верифицированные</option>
              <option value="under_consideration">На рассмотрении</option>
            </select>
          </div>
          <div class="input-group mb-3">
          <select name="sort" id="sort_id" class='form-control'>
              <option value="">Сортировка:</option>
              <option value="username">По никнейму</option>
              <option value="rating">По рейтингу</option>
          </select>
          <select name="sort_param" id="sort_params_id" class='form-control'>
            
          </select>
        </div>
        <div class="input-group mb-3">
          <select name="search_companion_params" id="sort_id" class='form-control'>
            <option value="">Поиск:</option>
            <option value="companion">Только находящиеся в диалоге</option>
            <option value="search">Только находящиеся в поиске</option>
            <option value="non_search">Только находящиеся не в поиске</option>
        </select>

        </div>
          <div class="text-center">
          <button class="btn btn-outline-success btn-lg" type="submit" id="button-addon2">Поиск</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h5 class="text-center">Найдено {{count_users}} пользователей.</h5>
  <h6 class="text-center text-success">В поиске находится {{count_search_user}} пользователей.</h6>
  <h6 class="text-center text-success">Онлайн за последние 24 часа {{today_online_users}} пользователей.</h6>
  <h6 class="text-center text-success">Онлайн за последние 10 минут {{now_online_users}} пользователей.</h6>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">First_name</th>
          <th scope="col">Second name</th>
          <th scope="col">Category</th>
          <th scope="col">Rating</th>
          <th scope="col">Verefication</th>
          <th scope="col">Поиск</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for u in users %}
        <tr>
          <th scope="row">{{ loop.index+offset }}</th>

          {% if u['username'] == None %}
          <td>
            <p class="text-danger">{{u['username']}}</p>
          </td>
          {% else %}
          <td>{{u['username']}}</td>
          {% endif %}

          {% if u['first_name'] == None %}
          <td>
            <p class="text-danger">{{u['first_name']}}</p>
          </td>
          {% else %}
          <td>{{u['first_name'][:15]}}</td>
          {% endif %}

          {% if u['last_name'] == None %}
          <td>
            <p class="text-danger">{{u['last_name']}}</p>
          </td>
          {% else %}
          <td>{{u['last_name'][:15]}}</td>
          {% endif %}

          {% if u['helper'] == True %}
          <td>Психолог</td>
          {% elif u['helper'] == False %}
          <td>Нужна помощь</td>
          {% elif u['helper'] == None %}
          <td>Не выбрано</td>
          {% endif %}

          <td>{{u['rating']}}</td>

          {% if u['verified_psychologist'] == True %}
          <td>Верифицирован</td>
          {% elif u['verified_psychologist'] == False %}
          <td>Не верифицирован</td>
          {% elif u['verified_psychologist'] == 'under_consideration' %}
          <td>
            <p class="text-success">На рассмотрении</p>
          </td>
          {% endif %}
          <td>
            {% if u['search_companion'] == True %}
              Пользователь в поиске
            {% elif u['search_companion'] == False %}
              {% if u['companion_id'] %}
                В диалоге с <a href="{{ url_for('user_view', user_id=u['companion_id']) }}"><span class='companion_user' id="{{u['companion_id']}}"></span></a>
              {% else %}
                Пользователь не в поиске
              {% endif %}
            {% endif %}
          </td>
          <td><a class="btn btn-primary btn-sm" href="{{ url_for('user_view', user_id=u['user_id']) }}"
              role="button">Подробнее</a></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  <div class="text-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination-lg">
      <li class="page-item">
        {% if previous_page %}
        <a class="page-link" href="/{{previous_page}}{{query_string}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
        {% endif %}
      </li>
      {% if last_page - page >= 2 %}
        {% if page > 2 %}
          <li class="page-item"><a class="page-link" href="/{{query_string}}">1</a></li>
          <li class="page-item"><a class="page-link" href="" disabled="disabled">...</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="/{{page}}{{query_string}}">{{page}} </a></li>
        <li class="page-item"><a class="page-link" href="/{{page+1}}{{query_string}}">{{page+1}}</a></li>
        <li class="page-item"><a class="page-link" href="/{{page+2}}{{query_string}}">{{page+2}}</a></li>
        {% if last_page - page != 2 %}
          <li class="page-item"><a class="page-link" href="" disabled="disabled">...</a></li>
          <li class="page-item"><a class="page-link" href="/{{last_page}}{{query_string}}">{{last_page}}</a></li>
        {% endif %}
      {% elif last_page - page >= 1 %}
        {% if page > 2 %}
          <li class="page-item"><a class="page-link" href="/{{query_string}}{{query_string}}">1</a></li>
          <li class="page-item"><a class="page-link" href="" disabled="disabled">...</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="/{{page}}{{query_string}}">{{page}}</a></li>
        <li class="page-item"><a class="page-link" href="{{page+1}}{{query_string}}">{{page+1}}</a></li>
      {% elif last_page - page >= 0 %}
        {% if page > 2 %}
            <li class="page-item"><a class="page-link" href="/{{query_string}}">1</a></li>
            <li class="page-item"><a class="page-link" href="" disabled="disabled">...</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="{{page}}{{query_string}}">{{page}}</a></li>
      {% endif %}

        {% if next_page %}
        <a class="page-link" href="/{{next_page}}{{query_string}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        {% endif %}
        </a>
      </li>
    </ul>
  </nav>
</div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
      // var option_list = {'verif': 'Только верифицированные', 'non_verif': 'Только не верифицированные', 'under_consideration': 'Только на рассмотрении'}
      // $( "#category_id" ).change(function() {
      //   if ($(this).val() == 'helper') {
      //     $.each(option_list, function(key, value) {
      //     $('#verefication_id').append('<option value="' + key + '">' + value + '</option>');
      //   });
      // } else {
      //     $.each(option_list, function(key, value) {
      //     $('#verefication_id option[value=' + key + ']').remove();
      //   });
      // }
      // });

      var option_list_sort = {'asc': 'По возрастанию', 'desc': 'По убыванию'}
      $( "#sort_id" ).change(function() {

        if ($(this).val() != '') {
          $.each(option_list_sort, function(key, value) {
          $('#sort_params_id option[value=' + key + ']').remove();
          $('#sort_params_id').append('<option value="' + key + '">' + value + '</option>');
        });
        } else {
          $.each(option_list_sort, function(key, value) {
          $('#sort_params_id option[value=' + key + ']').remove();
        });
        }
      });

      $(document).ready(function() {

      $('.companion_user').each(function( index ) {
        var id = $(this).attr('id');
          $.ajax({
            url: '/get_username',         /* Куда пойдет запрос */
            method: 'post',             /* Метод передачи (post или get) */
            dataType: 'json',          /* Тип данных в ответе (xml, json, script, html). */
            data: {user_id: id},     /* Параметры передаваемые в запросе. */
            success: function(data){   /* функция которая будет выполнена после успешного запроса.  */
              $('#'+id).html(data['username']);
            }
          });
          
      });
        

      });
</script>


{% endblock %}