{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" type="text/css" href="static/css/img.css">
<div class=container>
    
    <div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Пользователь:</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>id пользователя:</b></td>
                <td>{{user['user_id']}}</td>
            </tr>
            <tr>
                <td><b>Username:</b></td>
                {% if user['username'] %}
                <td>{{user['username']}}</td>
                {% else %}
                <td><p class="text-danger">Пользователь скрыл username</p></td>
                {% endif %}
            </tr>

            <tr>
                <td><b>Имя:</b></td>
                <td>{{user['first_name']}}</td>
            </tr>
            <tr>
                <td><b>Фамилия:</b></td>
                <td>{{user['last_name']}}</td>
            </tr>
            <tr>
                <td><b>Категория:</b></td>
                {% if user['helper'] == True %}
                <td>Психолог</td>
                {% elif user['helper'] == False %}
                <td>Нужна помощь</td>
                {% elif user['helper'] == None %}
                <td>Не выбрано</td>
                {% endif %}
            </tr>
            <tr>
                <td><b>Рейтинг:</b></td>
                <td>{{user['rating']}}</td>
            </tr>
            <tr>
                <td><b>Верификация:</b></td>
                {% if user['verified_psychologist'] == True %}
                <td>Верифицирован</td>
                {% elif user['verified_psychologist'] == False %}
                <td>Не верифицирован</td>
                {% elif user['verified_psychologist'] == 'under_consideration' %}
                <td>На рассмотрении</td>
                {% endif %}
            </tr>
            <tr>
                <td><b>Собеседник:</b></td>
                {% if companion %}
                <td><a href="{{ url_for('user_view', user_id=companion['user_id']) }}">
                {% if companion['username'] %}
                    {{companion['username']}}
                {% else %}
                    {{companion['user_id']}}
                {% endif %}
                </a></td>
                {% else %}
                <td>Нет</td>
                {% endif %}
            </tr>
            <tr>
                <td>-----------------------------------------</td>
                <td>-----------------------------------------</td>
            </tr>
            <tr>
                <td><b>Первый запуск бота:</b></td>
                <td>{{user['statistic']['start_date']}}</td>
            </tr>
            <tr>
                <td><b>Последняя активность:</b></td>
                <td>{{user['statistic']['last_action_date']}}</td>
            </tr>
            <tr>
                <td><b>Общее время использования бота:</b></td>
                <td>{{statistic['all_time_in_bot']}}</td>
            </tr>
            <tr>
                <td><b>Всего времени в диалогах с собеседниками:</b></td>
                <td>{{statistic['time_in_dialog']}}</td>
            </tr>
                <td><b>Среднее время в диалогах:</b></td>
                <td>{{statistic['mean_time_in_dialog']}}</td>
            <tr>
                <td><b>Количество диалогов:</b></td>
                <td>{{statistic['count_dialog']}} диалога</td>
            </tr>
            <tr>
                <td><b>Сколько диалогов завершил пользователь:</b></td>
                <td>{{user['statistic']['output_finish']}} раз</td>
            </tr>
            <tr>
                <td><b>Сколько диалогов завершили собесденики:</b></td>
                <td>{{user['statistic']['input_finish']}} раз</td>
            </tr>
            <tr>
                <td><b>Всего сообщений собеседнику написано:</b></td>
                <td>{{statistic['total_count_message']}} сообщений</td>
            </tr>
            <tr>
                <td><b>Среднее количество сообщений в диалоге:</b></td>
                <td>{{statistic['mean_count_message']}} сообщений</td>
            </tr>
            <tr>
                <td><b>Блокировка:</b></td>
                <td>
                {% if user['blocked'] %}
                Заблокирован<i class="fas fa-times-circle"></i>
                {% else %}
                Не заблокирован <i class="far fa-check-circle"></i>
                {% endif %}
            </td>
            </tr>
        </tbody>
      </table>
    </div>

    <br>
    <form action="{{user['user_id']}}/send_message" method='post'>
    <div class="input-group mb-3">
        <input type="text" name='text' class="form-control" placeholder="Сообщение пользователю" aria-label="Large" aria-describedby="basic-addon2" required>
        <div class="input-group-append">
                      
            {% if user['blocked'] == True %}
            <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal" type="button">
            <i class="far fa-check-circle"></i>
            {% else %}
            <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" type="button">
            <i class="fas fa-times-circle"></i>
            {% endif %}
            </button>
          <button class="btn btn-outline-secondary" type="submit">Отправить</button>
        </div>
    </div>
    </form>
    <br>
        
    <div class="text-center">
    {% if user['verified_psychologist'] == 'under_consideration' or  user['verified_psychologist'] == True %}
            {% if user['verified_psychologist'] == 'under_consideration' %}
                <h3>Заявка на рассмотрении:</h3>
            {% else %}
                <h4 class='text-success'>Верифицированный аккаунт</h4>
            {% endif %}
        <img src="static/verefication_doc/{{user['user_id']}}/passport_photo.jpg" alt="Паспорт" width="500" tabindex="0"/>
        <img src="static/verefication_doc/{{user['user_id']}}/selfie_passport_photo.jpg" alt="Селфи с паспорт" width="500" tabindex="0"/>
        <img src="static/verefication_doc/{{user['user_id']}}/diploma_photo.jpg" alt="Диплом" width="500" tabindex="0"/>
        <form action="{{user['user_id']}}/verif" method='post'>
            <br>
                {% if user['verified_psychologist'] == 'under_consideration' %}
                <button type="submit" name="confirm" class="btn btn-success btn-lg btn-block">Подтвердить</button>
                {% endif %}
            <span id='span_reject'><button id='reject_id' type="button" name="reject" class="btn btn-danger btn-lg btn-block">Отклонить</button></span>
            
        </form>
        <br>
        </form>
        <br>
    {% endif %}


  
  <!-- Modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        </div>
        <div class="modal-body">
            {% if user['blocked'] == True %}
            <form action="{{user['user_id']}}/unblocked" method="post">
            {% else %}
          <form action="{{user['user_id']}}/blocked" method="post">
            {% endif %}  
            <input type="text" name="text" class="form-control" placeholder="Сообщение пользователю">
        </div>
        <div class="modal-footer">
          {% if user['blocked'] == True %}
          <button type="submit" class="btn btn-success">Разблокировать</button>
          {% else %}
          <button type="submit" class="btn btn-danger">Заблокировать</button>
          {% endif %}

        </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->

</div>
</div>
<script>
    $(document).ready(function() {
    $("#reject_id").click(function(){
        var input = `<br><br>
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Коментарий:</span>
                    </div>
                    <input type="text" name="reject_coment" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                    `
        var button = `<button id='reject_id' type="submit" name="reject" class="btn btn-danger btn-lg btn-block">Отклонить</button>`
        $(this).remove()
        $('#span_reject').append(button);
        $('#span_reject').after(input);
    }); 
});

</script>
<script src="static/js/modal.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
{% endblock %}